<div class="modal-backdrop fade show" *ngIf="filme"></div>

<div class="modal d-block rounded" tabindex="-1" *ngIf="filme" style="background: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-dialog-centered rounded">
    <div class="modal-content rounded">
      <div class="modal-header">
        <h5 class="modal-title">{{ filme.title }}</h5>
        <button type="button" class="btn-close" (click)="fechar()"></button>
      </div>
      <div class="modal-body text-center">
        <img
          [src]="'https://image.tmdb.org/t/p/w300' + filme.poster_path"
          alt="{{ filme.title }}"
          class="img-fluid mb-3"
          style="max-height: 400px;"
        />
        <p>{{ filme.overview }}</p>
      </div>
    </div>
  </div>
</div>
