<div class="modal-backdrop fade show" *ngIf="filme"></div>

<div class="modal d-block" tabindex="-1" *ngIf="filme" style="background: rgba(0, 0, 0, 0.6);">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content rounded-3">

      <div class="modal-header">
        <h5 class="modal-title">{{ filme.title }}</h5>
        <button type="button" class="btn-close" (click)="fechar()"></button>
      </div>

      <div class="modal-body text-center">

        <!-- Poster -->
        <img 
          [src]="'https://image.tmdb.org/t/p/w500' + filme.poster_path" 
          alt="{{ filme.title }}"
          class="img-fluid mb-3 mx-auto d-block poster-img"
        />

        <p class="text-start px-2">{{ filme.overview }}</p>

        <div class="d-flex flex-wrap gap-3 justify-content-center mt-4">
          <button 
            class="btn btn-success px-4"
            (click)="adicionarAssistidos(filme)" 
            [disabled]="isAssistido(filme)">
            {{ isAssistido(filme) ? 'Assistido' : '+ Assistido' }}
          </button>

          <button 
            class="btn btn-primary px-4"
            (click)="adicionarQueroAssistir(filme)" 
            [disabled]="isQueroAssistir(filme)">
            {{ isQueroAssistir(filme) ? 'Na Lista' : '+ Quero Assistir' }}
          </button>
        </div>

      </div>
    </div>
  </div>
</div>