body{
    margin-top: 100px;
    padding-top: 100px;
}

@media (max-width: 576px) {
  body {
    padding-top: 70px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  body {
    padding-top: 85px;
  }
}