<footer>
  <section class="d-flex flex-column flex-md-row align-items-center gap-4 p-3">
    <div class="image flex-shrink-0">
      <img src="cpf.png" alt="" height="150" class="img-fluid" />
    </div>
    <div class="d-flex flex-column">
      <p>Este é um projeto fictício inspirado na identidade visual do Centro Paula Souza.</p>
      <section>
        CENTRO PAULA SOUZA. Assessoria de comunicação (AssCom) - Identidade Visual. Disponível em:
        <a
          class="bg-transparent"
          href="https://www.cps.sp.gov.br/asscom/manuais-assessoria-de-comunicacao/"
          target="_blank" rel="noopener noreferrer"
          >https://www.cps.sp.gov.br/asscom/manuais-assessoria-de-comunicacao.</a
        >
        Acesso em: 19 mai. 2025.
      </section>
    </div>
  </section>
</footer>
