<div class="d-flex flex-column gap-3 p-5 text-center align-items-center" style="margin-top: 150px;">
  <h1 class="mb-4">Filmes</h1>
  <a (click)="goToFilmes()" class="btn btn-secondary" style="width: 75%; max-width: 400px;">Filmes</a>
  <a (click)="goToAssistidos()" class="btn btn-secondary" style="width: 75%; max-width: 400px;">Assistidos</a>
  <a (click)="goToAvaliados()" class="btn btn-secondary" style="width: 75%; max-width: 400px;">Avaliados</a>
  <a (click)="goToAssistir()" class="btn btn-secondary" style="width: 75%; max-width: 400px;">Quero Assistir</a>
</div>
