@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    background-color: #F5F5F5;
    user-select: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  background-color: #F5F5F5;
  padding-top: 150px;
}

@media (max-width: 576px) {
  body {
    padding-top: 200px !important;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  body {
    padding-top: 85px;
  }
}
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
nav,
footer {
  flex-shrink: 0;
}
.content-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
